In [4]:
import pandas as pd
import xlwt
import time
import re
import numpy as np
import matplotlib.pyplot as plt
from scipy import stats
print('ok')

ok

In [768]:
df=pd.read_csv('STA-Tourism/Booking data/Booking.com Data febr.csv', thousands=',')

In [769]:
df.head()

,Unnamed: 0,property_name,property_location,property_star_rating,top_review,customer_rating,type_of_room,price,today
0,0,Emerald Hotel Baku,Baku,4-star hotel,Good,7.7,1 king bed,AZN 99,"Saturday, January 18, 2020"
1,1,Park Inn by Radisson Baku Hotel,"Sabayil , Baku",4-star hotel,Very Good,8.1,1 queen bed,AZN 111,"Saturday, January 18, 2020"
2,2,Old Street Boutique Hotel,"Sabayil , Baku",4-star hotel,Excellent,8.9,NaN,NaN,"Saturday, January 18, 2020"
3,3,Boutique 19 Hotel,"Sabayil , Baku",5-star hotel,Wonderful,9.1,1 queen bed,AZN 140,"Saturday, January 18, 2020"
4,4,White Boutique Baku Hotel,"Sabayil , Baku",NaN,Excellent,8.9,1 king bed,AZN 70,"Saturday, January 18, 2020"

In [770]:
df.describe()

         Unnamed: 0  customer_rating
count  18107.000000     16139.000000
mean    9053.000000         8.307231
std     5227.184998         0.874896
min        0.000000         3.500000
25%     4526.500000         7.900000
50%     9053.000000         8.300000
75%    13579.500000         8.900000
max    18106.000000        10.000000

In [771]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18107 entries, 0 to 18106
Data columns (total 9 columns):
Unnamed: 0              18107 non-null int64
property_name           18063 non-null object
property_location       18061 non-null object
property_star_rating    13427 non-null object
top_review              16140 non-null object
customer_rating         16139 non-null float64
type_of_room            17160 non-null object
price                   17959 non-null object
today                   18107 non-null object
dtypes: float64(1), int64(1), object(7)
memory usage: 778.1+ KB

In [772]:
df.columns

Index(['Unnamed: 0', 'property_name', 'property_location',
       'property_star_rating', 'top_review', 'customer_rating', 'type_of_room',
       'price', 'today'],
      dtype='object')

In [773]:
df.rename(columns={'Unnamed: 0':'No'}, inplace=True)
df.columns

Index(['No', 'property_name', 'property_location', 'property_star_rating',
       'top_review', 'customer_rating', 'type_of_room', 'price', 'today'],
      dtype='object')

In [774]:
df['price']=df['price'].str.replace('AZN','')
df['price']=df['price'].str.replace(',','')
df['price']=df['price'].astype(float)

In [775]:
df.head()

,No,property_name,property_location,property_star_rating,top_review,customer_rating,type_of_room,price,today
0,0,Emerald Hotel Baku,Baku,4-star hotel,Good,7.7,1 king bed,99.0,"Saturday, January 18, 2020"
1,1,Park Inn by Radisson Baku Hotel,"Sabayil , Baku",4-star hotel,Very Good,8.1,1 queen bed,111.0,"Saturday, January 18, 2020"
2,2,Old Street Boutique Hotel,"Sabayil , Baku",4-star hotel,Excellent,8.9,NaN,NaN,"Saturday, January 18, 2020"
3,3,Boutique 19 Hotel,"Sabayil , Baku",5-star hotel,Wonderful,9.1,1 queen bed,140.0,"Saturday, January 18, 2020"
4,4,White Boutique Baku Hotel,"Sabayil , Baku",NaN,Excellent,8.9,1 king bed,70.0,"Saturday, January 18, 2020"

In [776]:
df.dropna(subset=['price'],inplace=True)

In [777]:
df.dropna(how='all')

,No,property_name,property_location,property_star_rating,top_review,customer_rating,type_of_room,price,today
0,0,Emerald Hotel Baku,Baku,4-star hotel,Good,7.7,1 king bed,99.0,"Saturday, January 18, 2020"
1,1,Park Inn by Radisson Baku Hotel,"Sabayil , Baku",4-star hotel,Very Good,8.1,1 queen bed,111.0,"Saturday, January 18, 2020"
3,3,Boutique 19 Hotel,"Sabayil , Baku",5-star hotel,Wonderful,9.1,1 queen bed,140.0,"Saturday, January 18, 2020"
4,4,White Boutique Baku Hotel,"Sabayil , Baku",NaN,Excellent,8.9,1 king bed,70.0,"Saturday, January 18, 2020"
5,5,Prestige Hotel Baku,"Yasamal , Baku",NaN,Exceptional,9.5,2 king beds,50.0,"Saturday, January 18, 2020"
...,...,...,...,...,...,...,...,...,...
18102,18102,Rezidence,Qaxbaş,NaN,Very Good,8.0,1 full bed,50.0,"Saturday, February 29, 2020"
18103,18103,Meridian-F Hotel Shamkir,Şǝmkir,NaN,NaN,NaN,NaN,50.0,"Saturday, February 29, 2020"
18104,18104,МАДИНА ОТЕЛ,Ağstafa,3-star hotel,NaN,NaN,NaN,50.0,"Saturday, February 29, 2020"
18105,18105,Chateau Monolit,İkinci Yeniyol,NaN,Good,7.6,NaN,140.0,"Saturday, February 29, 2020"
18106,18106,Lux Inn,Kürdǝmir,NaN,Wonderful,9.2,NaN,90.0,"Saturday, February 29, 2020"

In [778]:
df.set_index('property_name',inplace=True)

In [779]:
df.sort_index()

,No,property_location,property_star_rating,top_review,customer_rating,type_of_room,price,today
property_name,,,,,,,,
AF HOTEL,14785,"Nasimi, Baku",4-star hotel,Good,7.8,1 king bed,41.0,"Saturday, February 22, 2020"
AF HOTEL,5579,"Nasimi, Baku",4-star hotel,Good,7.8,1 king bed,45.0,"Friday, January 31, 2020"
AF HOTEL,35,"Nasimi, Baku",4-star hotel,Good,7.8,1 king bed,44.0,"Saturday, January 18, 2020"
AF HOTEL,8083,"Nasimi, Baku",4-star hotel,Good,7.8,1 king bed,45.0,"Thursday, February 6, 2020"
AF HOTEL,11008,"Nasimi, Baku",4-star hotel,Good,7.8,1 king bed,41.0,"Thursday, February 13, 2020"
...,...,...,...,...,...,...,...,...
МАДИНА ОТЕЛ,10981,Ağstafa,3-star hotel,NaN,NaN,NaN,50.0,"Wednesday, February 12, 2020"
МАДИНА ОТЕЛ,1255,Ağstafa,3-star hotel,NaN,NaN,NaN,50.0,"Monday, January 20, 2020"
МАДИНА ОТЕЛ,6364,Ağstafa,3-star hotel,NaN,NaN,NaN,50.0,"Saturday, February 1, 2020"
МАДИНА ОТЕЛ,7200,Ağstafa,3-star hotel,NaN,NaN,NaN,50.0,"Monday, February 3, 2020"
МАДИНА ОТЕЛ,14757,Ağstafa,3-star hotel,NaN,NaN,NaN,50.0,"Friday, February 21, 2020"

In [780]:
df.sort_values(by=['customer_rating','price']) #inplace=True

,No,property_location,property_star_rating,top_review,customer_rating,type_of_room,price,today
property_name,,,,,,,,
Iron Hotel,277,Baku,4-star hotel,Review score,3.5,1 queen bed,113.0,"Saturday, January 18, 2020"
Iron Hotel,693,Baku,4-star hotel,Review score,3.5,1 queen bed,113.0,"Sunday, January 19, 2020"
Iron Hotel,1124,Baku,4-star hotel,Review score,3.5,1 queen bed,113.0,"Monday, January 20, 2020"
Iron Hotel,1545,Baku,4-star hotel,Review score,3.5,1 queen bed,113.0,"Tuesday, January 21, 2020"
Iron Hotel,1974,Baku,4-star hotel,Review score,3.5,1 queen bed,113.0,"Wednesday, January 22, 2020"
...,...,...,...,...,...,...,...,...
Golden Moon Baku,3722,Baku,4-star hotel,NaN,NaN,2 full beds,475.0,"Sunday, January 26, 2020"
Golden Moon Baku,4153,Baku,4-star hotel,NaN,NaN,2 full beds,475.0,"Monday, January 27, 2020"
Golden Moon Baku,4571,Baku,4-star hotel,NaN,NaN,2 full beds,475.0,"Tuesday, January 28, 2020"
Golden Moon Baku,5005,Baku,4-star hotel,NaN,NaN,2 full beds,475.0,"Wednesday, January 29, 2020"
Golden Moon Baku,5433,Baku,4-star hotel,NaN,NaN,2 full beds,475.0,"Thursday, January 30, 2020"

In [781]:
df[df['top_review']=='Review score']

,No,property_location,property_star_rating,top_review,customer_rating,type_of_room,price,today
property_name,,,,,,,,
Royal Hotel,36,Baku,4-star hotel,Review score,6.9,1 full bed,59.0,"Saturday, January 18, 2020"
Ambiance Hotel,128,Baku,4-star hotel,Review score,6.9,2 twin beds,35.0,"Saturday, January 18, 2020"
Crossway Hotel,212,Baku,4-star hotel,Review score,6.8,1 full bed,35.0,"Saturday, January 18, 2020"
Caspian Hotel,250,"Nasimi, Baku",4-star hotel,Review score,6.5,1 queen bed,70.0,"Saturday, January 18, 2020"
Ambassador Hotel,253,Baku,5-star hotel,Review score,4.3,1 king bed,50.0,"Saturday, January 18, 2020"
...,...,...,...,...,...,...,...,...
Royal&Xan Palace,18013,Ağcabǝdi,4-star hotel,Review score,5.9,2 twin beds,100.0,"Saturday, February 29, 2020"
Diplomat Hotel Baku,18034,"Nasimi, Baku",3-star hotel,Review score,6.8,2 twin beds,60.0,"Saturday, February 29, 2020"
AZPETROL HOTEL GAZAX,18070,Qazax,NaN,Review score,5.8,1 queen bed,30.0,"Saturday, February 29, 2020"
Ambassador Hotel,18079,Baku,5-star hotel,Review score,4.3,1 king bed,68.0,"Saturday, February 29, 2020"
Hello Qusar Hotel,18087,Qusar,NaN,Review score,6.9,2 queen beds,80.0,"Saturday, February 29, 2020"

In [782]:
df[df['price']==np.nan]

Empty DataFrame
Columns: [No, property_location, property_star_rating, top_review, customer_rating, type_of_room, price, today]
Index: []

In [783]:
df['price'].value_counts().sort_index()

5.0        1
10.0      42
17.0      62
18.0      66
19.0      52
          ..
850.0      1
881.0      1
900.0      2
1138.0     1
2251.0     2
Name: price, Length: 229, dtype: int64

In [784]:
df['price'].value_counts().sort_values()

211.0       1
1138.0      1
277.0       1
256.0       1
185.0       1
         ...
50.0      583
80.0      668
70.0      758
40.0      776
60.0      971
Name: price, Length: 229, dtype: int64

In [785]:
df['price'].value_counts(normalize=True).sort_values(ascending=False)*100

60.0      5.406760
40.0      4.320953
70.0      4.220725
80.0      3.719583
50.0      3.246283
            ...
185.0     0.005568
256.0     0.005568
277.0     0.005568
1138.0    0.005568
211.0     0.005568
Name: price, Length: 229, dtype: float64

In [786]:
df.index.value_counts().sort_index()

AF HOTEL                             43
AF HOTEL AQUAPARK                    43
ALTSTADT Boutique Hotel              43
ART Gallery Boutique Hotel           44
ART Hotel Baku                       43
                                     ..
Zaqatala olimpiya idman kompleksi    43
Zirve Hotel                          41
kings group baku hotel               43
Çıraqban.otel                        42
МАДИНА ОТЕЛ                          43
Name: property_name, Length: 433, dtype: int64

In [787]:
df.head()

,No,property_location,property_star_rating,top_review,customer_rating,type_of_room,price,today
property_name,,,,,,,,
Emerald Hotel Baku,0,Baku,4-star hotel,Good,7.7,1 king bed,99.0,"Saturday, January 18, 2020"
Park Inn by Radisson Baku Hotel,1,"Sabayil , Baku",4-star hotel,Very Good,8.1,1 queen bed,111.0,"Saturday, January 18, 2020"
Boutique 19 Hotel,3,"Sabayil , Baku",5-star hotel,Wonderful,9.1,1 queen bed,140.0,"Saturday, January 18, 2020"
White Boutique Baku Hotel,4,"Sabayil , Baku",NaN,Excellent,8.9,1 king bed,70.0,"Saturday, January 18, 2020"
Prestige Hotel Baku,5,"Yasamal , Baku",NaN,Exceptional,9.5,2 king beds,50.0,"Saturday, January 18, 2020"

In [788]:
df['property_location'].str.replace('.+?( )','') #regex pattern

property_name
Emerald Hotel Baku                     Baku
Park Inn by Radisson Baku Hotel        Baku
Boutique 19 Hotel                      Baku
White Boutique Baku Hotel              Baku
Prestige Hotel Baku                    Baku
                                     ...
Rezidence                            Qaxbaş
Meridian-F Hotel Shamkir             Şǝmkir
МАДИНА ОТЕЛ                         Ağstafa
Chateau Monolit                     Yeniyol
Lux Inn                            Kürdǝmir
Name: property_location, Length: 17959, dtype: object

In [789]:
df['property_location']=df['property_location'].str.replace('.+?( )','')

In [790]:
df['property_location']

property_name
Emerald Hotel Baku                     Baku
Park Inn by Radisson Baku Hotel        Baku
Boutique 19 Hotel                      Baku
White Boutique Baku Hotel              Baku
Prestige Hotel Baku                    Baku
                                     ...
Rezidence                            Qaxbaş
Meridian-F Hotel Shamkir             Şǝmkir
МАДИНА ОТЕЛ                         Ağstafa
Chateau Monolit                     Yeniyol
Lux Inn                            Kürdǝmir
Name: property_location, Length: 17959, dtype: object

In [791]:
df[df['property_location']=='Yeniyol'].head() #.isin(['Şəmkir'])

,No,property_location,property_star_rating,top_review,customer_rating,type_of_room,price,today
property_name,,,,,,,,
Chateau Monolit,409,Yeniyol,NaN,Good,7.6,NaN,140.0,"Saturday, January 18, 2020"
Chateau Monolit,831,Yeniyol,NaN,Good,7.6,NaN,140.0,"Sunday, January 19, 2020"
Chateau Monolit,1256,Yeniyol,NaN,Good,7.6,NaN,140.0,"Monday, January 20, 2020"
Chateau Monolit,1683,Yeniyol,NaN,Good,7.6,NaN,140.0,"Tuesday, January 21, 2020"
Chateau Monolit,2110,Yeniyol,NaN,Good,7.6,NaN,140.0,"Wednesday, January 22, 2020"

In [792]:
loc_dict={ 'Calut':'Oğuz','Yeniyol':'İsmayilli', 'Ərǝkit':'İsmayilli','Azad':'Ganja','Şǝrǝdil': 'Şamaxı',
'Qaxbaş': 'Qax','Vartaşenqışlaq': 'Oğuz','Ucgun':'Quba','Afurca':'Quba', 'Yengica': 'Quba' ,
'Çilǝgir':'Qusar','Shahdag' : 'Qusar','Galaalti':'Şabran','Daşça': 'Qəbələ','Vǝndam' : 'Qəbələ',
'Novxanı':'Absheron', 'Buzovna':'Absheron', 'Mərdəkan':'Absheron', 'nardaran':'Absheron',
'Nabran': 'Khacmaz', 'Xudat': 'Khacmaz','Şahnǝzǝrli': 'Shabran','Altıağac':'Khizi','Nüvǝdi': 'Lerik', 
'bala muradkhan' : 'Kurdamir'}

df['property_location'].replace(loc_dict,inplace=True)

In [793]:
df['property_location'].unique()

array(['Baku', 'Absheron', 'Gabala', 'Sumqayıt', 'Quba', 'İsmayıllı',
       'Sheki', 'Daşca', 'Ganja', 'Mingachevir', 'Shabran', 'Lankaran',
       'Şǝmkir', 'Lerik', 'Qusar', 'Naxçıvan', 'Oğuz', 'Qax', 'Ağcabǝdi',
       'Khizi', 'Khacmaz', 'Beylǝqan', 'Masallı', 'Balakǝn', 'Naftalan',
       'Tǝrtǝr', 'İsmayilli', 'Qazax', 'Göyçay', 'Zaqatala', 'Qəbələ',
       'Şamaxı', 'Ağstafa', 'Kürdǝmir', 'Salyan', 'Şabran'], dtype=object)

In [794]:
df['property_location'][0]

'Baku'

In [795]:
df['property_location']['Lux Inn'].head()

Lux Inn    Kürdǝmir
Lux Inn    Kürdǝmir
Lux Inn    Kürdǝmir
Lux Inn    Kürdǝmir
Lux Inn    Kürdǝmir
Name: property_location, dtype: object

In [796]:
df.loc['Lux Inn','property_location'].head()

property_name
Lux Inn    Kürdǝmir
Lux Inn    Kürdǝmir
Lux Inn    Kürdǝmir
Lux Inn    Kürdǝmir
Lux Inn    Kürdǝmir
Name: property_location, dtype: object

In [797]:
df.groupby(['property_location']).mean().sort_values(by=['price'])

                            No  customer_rating       price
property_location
Zaqatala           9204.836257         8.521053   35.409357
Qazax              9247.744186         7.100000   40.000000
Beylǝqan           9329.769231         7.300000   40.512821
Balakǝn            9021.083333         7.900000   49.000000
Oğuz               9249.748031         8.007692   49.314961
Ağstafa            9286.186047              NaN   50.000000
Tǝrtǝr             9147.988235         8.500000   52.529412
Masallı            9878.192982         8.686842   59.052632
İsmayıllı          8210.785047         7.800000   59.476636
Daşca              9335.000000         7.400000   63.750000
Sheki              9178.938076         8.566930   64.030303
Lerik              9642.474359         8.200000   64.589744
Lankaran           8893.233227         8.864815   68.060703
Qəbələ             9234.441860         7.000000   70.465116
Göyçay             9046.476190              NaN   70.952381
Şǝmkir             9197.110465         8.900000   72.500000
Shabran            9103.465116              NaN   75.000000
Qax                9201.207101         7.867568   76.408284
Sumqayıt           9064.224806         8.466667   77.000000
Mingachevir        9288.321637         8.366667   77.748538
Khacmaz            9204.069767         9.200000   80.000000
Baku               8989.431952         8.361981   82.427187
Absheron           9071.319249         6.928070   83.699531
İsmayilli          9311.164706         7.903529   85.294118
Quba               9155.844706         7.482215   86.729412
Salyan             9453.476190              NaN   89.000000
Kürdǝmir           9288.162791         9.200000   90.000000
Ganja              8913.339853         7.953825   99.220049
Ağcabǝdi           9197.651163         5.900000  100.000000
Naxçıvan           9206.953488         8.300000  100.333333
Qusar              9496.219917         8.214358  104.261411
Khizi              9186.418605         7.900000  117.000000
Şabran             9383.250000         8.500000  130.675000
Gabala             9112.945312         8.459064  135.127604
Şamaxı             9171.441860         8.600000  160.232558
Naftalan           9209.930233         8.802326  232.534884

In [798]:
df.groupby('property_location')['price'].min().sort_values()

property_location
Baku             5.0
Sheki           17.0
Quba            18.0
Zaqatala        20.0
Oğuz            27.0
İsmayilli       30.0
Qazax           30.0
Lerik           32.0
Qax             35.0
Balakǝn         35.0
Lankaran        39.0
Qusar           40.0
Mingachevir     40.0
Şǝmkir          40.0
Ganja           40.0
Beylǝqan        40.0
İsmayıllı       45.0
Masallı         50.0
Gabala          50.0
Daşca           50.0
Ağstafa         50.0
Tǝrtǝr          50.0
Sumqayıt        60.0
Absheron        60.0
Göyçay          60.0
Qəbələ          70.0
Shabran         75.0
Khacmaz         80.0
Naxçıvan        81.0
Salyan          89.0
Kürdǝmir        90.0
Ağcabǝdi       100.0
Khizi          117.0
Şabran         126.0
Şamaxı         138.0
Naftalan       213.0
Name: price, dtype: float64

In [799]:
df.groupby('property_location').get_group('Qusar')

,No,property_location,property_star_rating,top_review,customer_rating,type_of_room,price,today
property_name,,,,,,,,
Shahdag 444 HOTEL,269,Qusar,4-star hotel,NaN,NaN,2 twin beds,150.0,"Saturday, January 18, 2020"
Ladera Resort Qusar,336,Qusar,NaN,Good,7.2,4 twin beds,300.0,"Saturday, January 18, 2020"
AZPETROL HOTEL QUSAR,342,Qusar,NaN,Very Good,8.0,2 twin beds,40.0,"Saturday, January 18, 2020"
Hello Qusar Hotel,369,Qusar,NaN,Good,7.0,2 queen beds,80.0,"Saturday, January 18, 2020"
Selena,374,Qusar,NaN,Exceptional,9.7,2 twin beds,100.0,"Saturday, January 18, 2020"
...,...,...,...,...,...,...,...,...
"Pik Palace, Shahdag, Autograph Collection",17980,Qusar,5-star hotel,Excellent,8.9,1 king bed,275.0,"Saturday, February 29, 2020"
Zirve Hotel,18038,Qusar,4-star hotel,Very Good,8.4,2 twin beds,200.0,"Saturday, February 29, 2020"
Hello Qusar Hotel,18087,Qusar,NaN,Review score,6.9,2 queen beds,80.0,"Saturday, February 29, 2020"
Hotel Umud,18098,Qusar,NaN,Good,7.1,2 twin beds,55.0,"Saturday, February 29, 2020"
RA Guest House,18099,Qusar,NaN,Wonderful,9.4,2 twin beds,60.0,"Saturday, February 29, 2020"

In [800]:
df.groupby('property_location').size().sort_values()

property_location
Beylǝqan          39
Şabran            40
Daşca             40
Salyan            42
Göyçay            42
Naftalan          43
Shabran           43
Şamaxı            43
Khizi             43
Khacmaz           43
Kürdǝmir          43
Ağstafa           43
Ağcabǝdi          43
Qəbələ            43
Lerik             78
Balakǝn           84
Tǝrtǝr            85
İsmayilli         85
Qazax             86
İsmayıllı        107
Masallı          114
Naxçıvan         129
Sumqayıt         129
Zaqatala         171
Mingachevir      171
Şǝmkir           172
Absheron         213
Oğuz             254
Lankaran         313
Qax              338
Gabala           384
Ganja            409
Quba             425
Qusar            482
Sheki            759
Baku           12381
dtype: int64

In [801]:
df.groupby('property_location')['price'].agg([np.min,np.mean,np.max])

                    amin        mean    amax
property_location
Absheron            60.0   83.699531   100.0
Ağcabǝdi           100.0  100.000000   100.0
Ağstafa             50.0   50.000000    50.0
Baku                 5.0   82.427187  1138.0
Balakǝn             35.0   49.000000    63.0
Beylǝqan            40.0   40.512821    60.0
Daşca               50.0   63.750000    70.0
Gabala              50.0  135.127604  2251.0
Ganja               40.0   99.220049   200.0
Göyçay              60.0   70.952381    90.0
Khacmaz             80.0   80.000000    80.0
Khizi              117.0  117.000000   117.0
Kürdǝmir            90.0   90.000000    90.0
Lankaran            39.0   68.060703   145.0
Lerik               32.0   64.589744   120.0
Masallı             50.0   59.052632    74.0
Mingachevir         40.0   77.748538   162.0
Naftalan           213.0  232.534884   253.0
Naxçıvan            81.0  100.333333   130.0
Oğuz                27.0   49.314961    80.0
Qax                 35.0   76.408284   121.0
Qazax               30.0   40.000000    50.0
Quba                18.0   86.729412   900.0
Qusar               40.0  104.261411   310.0
Qəbələ              70.0   70.465116    90.0
Salyan              89.0   89.000000    89.0
Shabran             75.0   75.000000    75.0
Sheki               17.0   64.030303   105.0
Sumqayıt            60.0   77.000000   101.0
Tǝrtǝr              50.0   52.529412    55.0
Zaqatala            20.0   35.409357    50.0
İsmayilli           30.0   85.294118   140.0
İsmayıllı           45.0   59.476636   113.0
Şabran             126.0  130.675000   143.0
Şamaxı             138.0  160.232558   818.0
Şǝmkir              40.0   72.500000   120.0

In [802]:
df['property_star_rating']=df['property_star_rating'].str.replace('-star hotel',' stars')

In [803]:
df['property_star_rating'].unique()

array(['4 stars', '5 stars', nan, '3 stars', '2 stars'], dtype=object)

In [804]:
df.groupby('property_star_rating')['price'].agg([np.min,np.mean,np.max])

                      amin        mean    amax
property_star_rating
2 stars               17.0   38.008547    60.0
3 stars               18.0   55.103774   400.0
4 stars                5.0   75.580686   475.0
5 stars               50.0  156.129068  2251.0

In [805]:
df.groupby('property_star_rating').count()

,No,property_location,top_review,customer_rating,type_of_room,price,today
property_star_rating,,,,,,,
2 stars,234,234,148,148,234,234,234
3 stars,2544,2544,2117,2117,2475,2544,2544
4 stars,7901,7901,7459,7458,7382,7901,7901
5 stars,2673,2673,2419,2419,2614,2673,2673

In [806]:
df.groupby('property_star_rating').size()

property_star_rating
2 stars     234
3 stars    2544
4 stars    7901
5 stars    2673
dtype: int64

In [807]:
df.size

143672

In [808]:
df.shape

(17959, 8)

In [809]:
df.to_csv('booking fevral pandas edited.csv')

PermissionError: [Errno 13] Permission denied: 'booking fevral pandas edited.csv'

In [ ]:
# All codes used until here:

# df=pd.read_csv('STA-Tourism/Booking data/Booking.com Data febr.csv', thousands=',')

# df.head()

# df.describe()

# df.info()

# df.columns

# df.rename(columns={'Unnamed: 0':'No'}, inplace=True)

# df['price']=df['price'].str.replace('AZN','')
# df['price']=df['price'].str.replace(',','')
# df['price']=df['price'].astype(float)

# df.dropna(subset=['price'],inplace=True)

# df.dropna(how='all')

# df.set_index('property_name',inplace=True)

# df.sort_index()

# df.sort_values(by=['customer_rating','price']) #inplace=True

# df[df['top_review']=='Review score']

# df[df['price']==np.nan]

# df['price'].value_counts().sort_index()

# df['price'].value_counts().sort_values()

# df['price'].value_counts(normalize=True).sort_values(ascending=False)*100

# df.index.value_counts().sort_index()

# df['property_location']=df['property_location'].str.replace('.+?( )','') #regex pattern

# df[df['property_location']=='Yeniyol'].head() #.isin(['Şəmkir'])

# loc_dict={ 'Calut':'Oğuz','Yeniyol':'İsmayilli', 'Ərǝkit':'İsmayilli'}

# df['property_location'].replace(loc_dict,inplace=True)

# df['property_location'].unique()

# df['property_location'][0]

# df['property_location']['Lux Inn'].head()

# df.loc['Lux Inn','property_location'].head()

# df.groupby(['property_location']).mean().sort_values(by=['price'])

# df.groupby('property_location')['price'].min().sort_values()

# df.groupby('property_location').get_group('Qusar')

# df.groupby('property_location').size().sort_values()

# df.groupby('property_location')['price'].agg([np.min,np.mean,np.max])

# df['property_star_rating']=df['property_star_rating'].str.replace('-star hotel',' stars')

# df.groupby('property_star_rating')['price'].agg([np.min,np.mean,np.max])

# df.groupby('property_star_rating').count()

# df.groupby('property_star_rating').size()

# df.size

# df.shape

# df.to_csv('booking fevral pandas edited.csv')

# df.drop(column=[]) #inplace=True olmasa apply etmir
# df.drop(index=4)
# df.drop(index=df['col']=='Doe'.index)
# Series.nlargest(10)
# filt=df['Country'=='Az'] -> df.groupby(['Country']).getgroup('Az')
# df.loc[filt]
# Series.apply(len,axis=columns)
# Series.applymap(str.lower)
# df.sort_values(by=['col']).nlargest(10)
# df.sort_index()
# Series.str.contains['someword'].sum()

In [ ]:
df=pd.read_csv('STA-Tourism/Booking data/Booking.com Data febr.csv', thousands=',')

In [ ]:
df.columns

In [ ]:
df.index

In [ ]:
print(df.info())
print(df.shape)
print(df.describe())

In [ ]:
df.columns[8]='Date' #doesnt work

In [ ]:
df.rename(columns={'Unnamed: 0':'No'},inplace=True)

In [ ]:
df.columns

In [ ]:
df.dropna(how='all')

In [ ]:
df.dropna(subset=['price'],inplace=True)

In [ ]:
df.set_index('property_name')

In [ ]:
df.drop(columns=['No','type_of_room'])

In [ ]:
df['price']=df['price'].str.replace('AZN','').str.strip()
df['price']=df['price'].str.replace(',','').astype(float)

In [ ]:
df['price'].dtype

In [ ]:
df['property_location']=df['property_location'].str.replace('.+?( )','') #regex pattern regex=True)

In [ ]:
df['property_location'][0:3]

In [ ]:
df['property_star_rating']=df['property_star_rating'].str.replace('-star hotel',' star')

In [ ]:
df['property_star_rating'][3:6]

In [ ]:
df['property_star_rating'].unique()

In [ ]:
df['property_star_rating']=df['property_star_rating'].str.replace('stars','star')

In [ ]:
df.head()

In [ ]:
loc_dict={ 'Calut':'Oğuz','Yeniyol':'İsmayilli', 'Ərǝkit':'İsmayilli'}
df['property_location'].replace(loc_dict, inplace=True)

In [ ]:
df['property_location'].unique()

In [ ]:
len(df[df['property_name'].isna()])

In [ ]:
df[df['property_name'].isna()].head(3)

In [ ]:
df[df['property_name'].isna()].fillna('Not available',inplace=True) @fil etmek ucun isna yazmaga ehtiyac yoxdu alinmiyacaq,sadece fillna yazsan ozu tapib dolduracaq.

In [ ]:
len(df[df['property_name'].isna()])

In [ ]:
df['property_name'].fillna('Not available')

In [ ]:
df[df['property_name'].isna()]

In [ ]:
df[df.isna()].head(3)

In [ ]:
df[df.isna()].shape

In [ ]:
df.shape

In [ ]:
fills={'property_location':'galaxy','property_star_rating':'not sure'}
df.fillna(value=fills)

In [ ]:
df[df['property_location']=='galaxy']

In [ ]:
df.mean()

In [ ]:
df.drop(columns='No',inplace=True)

In [ ]:
df.set_index('property_name', inplace=True)

In [ ]:
df.groupby('property_star_rating').size()

In [ ]:
df.groupby('property_star_rating').mean()

In [ ]:
df.groupby('property_star_rating').mean()

In [ ]:
df.groupby('property_star_rating').apply(np.min)

In [ ]:
df.groupby('property_star_rating').agg(len)

In [ ]:
df.groupby('property_star_rating').agg([len,min])

In [ ]:
df.groupby('property_star_rating')['price'].agg([len,np.min,np.max])

In [ ]:
df.groupby('property_star_rating')[['price','customer_rating']].agg([len,np.min,np.max])

In [ ]:
df.groupby('property_star_rating').get_group('2 star').head() #=>df[df['property_star_rating']=='2 star']

In [ ]:
df1=df.iloc[0:10,0:4]
df2=df.iloc[1000:1010:4]

In [ ]:
df1

In [ ]:
df3=df[df['price']>500]
df3=df3.sort_values(by='price',ascending=False)

In [ ]:
df3.head()

In [ ]:
df['property_location'].isin(['Baku']) #=>df['property_location'].str.contains('Baku')

In [ ]:
df['property_location'].str.contains('Baku')

In [ ]:
df[df['property_location'].str.contains('Baku')].head(3)

In [ ]:
df[df['property_location'].str.contains('Baku')]['property_location'].head(3)

In [ ]:
df[df['property_location'].str.contains('Baku')].iloc[:10,3:6].head(3)

In [ ]:
df.loc['Emerald Hotel Baku'].head()

In [ ]:
emerald=df.loc['Emerald Hotel Baku']['price']
print(emerald.head())

In [ ]:
emerald=df.loc['Emerald Hotel Baku','price']
print(emerald.head())

In [ ]:
df[df['price']>500].loc['Quba Palace Hotel'] #df[df.loc['Quba Palace Hotel','price']>500] bu ise iwlemir

In [ ]:
list(df.index)[0:5]

In [ ]:
df1

In [ ]:
df2=df2.iloc[:,0:4]
df2

In [ ]:
pd.concat([df1,df2])

In [ ]:
df1.rename(columns={'property_location':'p_location'})

In [ ]:
pd.concat([df2,df1,df3],sort=False).head()

In [ ]:
df.dtypes.value_counts()

In [ ]:
df.dtypes

In [ ]:
df.loc['Quba Palace Hotel','price'].head()

In [ ]:
df.iloc[200,4]

In [ ]:
df.iloc[[200,300,315],4]

In [ ]:
df.iloc[200][4]

In [ ]:
df.iloc[200,4]='1 fullun fullu bed'
df.iloc[200,4]

In [ ]:
values={'price':[5],'property_location':['Baku']}
df[df.isin(values).any(1)]

In [ ]:
df.pivot(index='property_location',columns='top_review',values='price',)

In [ ]:
df.groupby('property_name')['price'].agg([np.mean,np.min,np.max]).sort_values(by=['mean'], ascending=False)

In [ ]:
df1['new_col']=df1['customer_rating']*10
df1['new_col1']=df1['customer_rating']>7.1
df1['new_col2'][3:5]=[5,6]
df1

In [ ]:
df11=df1.copy()

In [ ]:
df2.loc['H.I.I Hotel']
df2.loc[df2['property_location']=='Baku'] #=>df2[df2['property_location']=='Baku']

In [ ]:
df_melted=df2.melt()
df_melted

In [ ]:
df_melted.pivot(columns='variable',values='value')

In [ ]:
df.mean() #by axis=0

In [ ]:
df.mean(1) #by axis=1

In [ ]:
df['price'].sample()

In [ ]:
df['price'].skew()

In [ ]:
df['price'].std()

In [ ]:
import matplotlib.pyplot as plt

In [ ]:
df2

In [ ]:
df2.plot(x='property_location',y='customer_rating')

In [ ]:
pd.DataFrame(np.random.randn(6, 4), columns=range(0,4))

In [ ]:
pd.DataFrame({'A': range(0,6),
              'B': range(3,9)},index=['a','b','c','d','e','f'])

In [812]:
df5=pd.DataFrame(pd.Series([1,2,3,4,5,6], index=['a','b','c','d','e','f']))
df5

   0
a  1
b  2
c  3
d  4
e  5
f  6

In [815]:
df5.columns=['a']
df5.head()

   a
a  1
b  2
c  3
d  4
e  5

In [811]:
df5=pd.DataFrame({'a':pd.Series([1,2,3,4,5,6], index=['a','b','c','d','e','f'])})
df5

   a
a  1
b  2
c  3
d  4
e  5
f  6

In [810]:
pd.date_range('1/1/2000', periods=35)

DatetimeIndex(['2000-01-01', '2000-01-02', '2000-01-03', '2000-01-04',
               '2000-01-05', '2000-01-06', '2000-01-07', '2000-01-08',
               '2000-01-09', '2000-01-10', '2000-01-11', '2000-01-12',
               '2000-01-13', '2000-01-14', '2000-01-15', '2000-01-16',
               '2000-01-17', '2000-01-18', '2000-01-19', '2000-01-20',
               '2000-01-21', '2000-01-22', '2000-01-23', '2000-01-24',
               '2000-01-25', '2000-01-26', '2000-01-27', '2000-01-28',
               '2000-01-29', '2000-01-30', '2000-01-31', '2000-02-01',
               '2000-02-02', '2000-02-03', '2000-02-04'],
              dtype='datetime64[ns]', freq='D')

In [ ]:
print(df2.to_string())

In [ ]:
print(df2)

In [824]:
df5=pd.DataFrame(pd.Series([1,2,3,4,5,6]), index=(range(0,10)))
df5

     0
0  1.0
1  2.0
2  3.0
3  4.0
4  5.0
5  6.0
6  NaN
7  NaN
8  NaN
9  NaN

In [835]:
df5=pd.DataFrame(pd.Series([1,2,3],index=['a','b','c']))
df5

   0
a  1
b  2
c  3

In [839]:
df5=pd.DataFrame(pd.Series([1,2,3],name='No',index=pd.date_range(23072020, periods=3,)))
df5

                               No
1970-01-01 00:00:00.023072020   1
1970-01-02 00:00:00.023072020   2
1970-01-03 00:00:00.023072020   3

In [855]:
df5=pd.DataFrame(pd.Series([1,2,3],index=pd.date_range(7/23/2020, periods=3,name='No')))
df5

            0
No
1970-01-01  1
1970-01-02  2
1970-01-03  3

In [867]:
df5=pd.DataFrame({'a':[1,2,3,4],'b':[5,np.nan,np.nan,8]},index=pd.date_range(7/23/2020, periods=4,name='date'))
df5

            a    b
date
1970-01-01  1  5.0
1970-01-02  2  NaN
1970-01-03  3  NaN
1970-01-04  4  8.0

In [947]:
df5=pd.DataFrame({'a':[1,2,3,4],
                  'b':[5,np.nan,np.nan,8],
                  'c':pd.Series(1,dtype='float32',index=list(range(4))),
                  'd':'hotel'},index=pd.date_range('7-23-2020', periods=4,name='date'))

df5.columns=df5.columns.str.upper()
df5

            A    B   C      D
date
2020-07-23  1  5.0 NaN  hotel
2020-07-24  2  NaN NaN  hotel
2020-07-25  3  NaN NaN  hotel
2020-07-26  4  8.0 NaN  hotel

In [890]:
df5.dtypes.value_counts()

int64      1
float32    1
float64    1
object     1
dtype: int64

In [903]:
df5['B'].dropna()

date
2020-07-23    5.0
2020-07-26    8.0
Name: B, dtype: float64

In [904]:
df5

            A    B   C      D
date
2020-07-23  1  5.0 NaN  hotel
2020-07-24  2  NaN NaN  hotel
2020-07-25  3  NaN NaN  hotel
2020-07-26  4  8.0 NaN  hotel

In [907]:
df5[df5['B']==None]

Empty DataFrame
Columns: [A, B, C, D]
Index: []

In [908]:
df5['B']==None

date
2020-07-23    False
2020-07-24    False
2020-07-25    False
2020-07-26    False
Freq: D, Name: B, dtype: bool

In [909]:
df5['B']==np.nan

date
2020-07-23    False
2020-07-24    False
2020-07-25    False
2020-07-26    False
Freq: D, Name: B, dtype: bool

In [939]:
df5['2020-07-24':'2020-07-25']

            A   B   C      D
date
2020-07-24  2 NaN NaN  hotel
2020-07-25  3 NaN NaN  hotel

In [919]:
df5[df5['B'].isna()].index

            A   B   C      D
date
2020-07-24  2 NaN NaN  hotel
2020-07-25  3 NaN NaN  hotel

In [948]:
#df5['b'] = df5.b.fillna(df5.a*100) is equivalent to below from stackflow
df5.loc[df5['B'].isna(),'B']=df5.loc[df5['B'].isna(),'A']*100
df5

            A      B   C      D
date
2020-07-23  1    5.0 NaN  hotel
2020-07-24  2  200.0 NaN  hotel
2020-07-25  3  300.0 NaN  hotel
2020-07-26  4    8.0 NaN  hotel

In [926]:
df5.loc['2020-07-24':'2020-07-25','B']=df5.loc['2020-07-24':'2020-07-25','A']*100

In [953]:
df5.loc[df5['C'].isna(),'C']=df5['C'].fillna(df5['B'][0:2])
df5

            A      B      C      D
date
2020-07-23  1    5.0    5.0  hotel
2020-07-24  2  200.0  200.0  hotel
2020-07-25  3  300.0    NaN  hotel
2020-07-26  4    8.0    NaN  hotel

In [1004]:
s1=pd.Series([1,2,3],index=['h11','h2','h33'],name='n')
s2=pd.Series([5,np.nan,4],index=['h1','h2','h33'],name='n')
df6=s1+s2
df6

h1     NaN
h11    NaN
h2     NaN
h33    7.0
Name: n, dtype: float64

In [960]:
s1

h11    1
h22    2
h33    3
dtype: int64

In [990]:
df6=pd.concat([s1,s2],axis=1,keys=('s1','s2'),join='outer',sort=False)
df6

      s1   s2
h11  1.0  NaN
h2   2.0  NaN
h33  3.0  NaN
h1   NaN  5.0

In [988]:
df6=pd.merge(s1,s2,how='left',sort=False)
df6

MergeError: No common columns to perform merge on. Merge options: left_on=None, right_on=None, left_index=False, right_index=False

In [989]:
df6=s1.join(s2)
df6

AttributeError: 'Series' object has no attribute 'join'

In [1009]:
pd.merge(s1,s2,how='left',left_index=True,right_index=True) #to indicate that merge is based on index

     n_x  n_y
h11    1  NaN
h2     2  NaN
h33    3  4.0

In [1010]:
pd.merge(s1,s2, on='n')

Empty DataFrame
Columns: [n]
Index: []

In [1608]:
# view 1009 line

booking_index=pd.read_excel(r'C:\Users\fuad.ak\Google Drive (research.statistics19@gmail.com)\Booking.com data\Analysis\Booking.com Monthly comparisons-source.xlsx',
                           sheet_name='index')

In [1610]:
booking_index=booking_index.dropna(how='all').dropna(how='all',axis=1)

In [1609]:
booking_index.head(3)

,Hotels,Count of property_name,December,January,February,March,April,May,June,July,Star rating
0,ABSERON HOTEL,30,35.000000,35.000000,29.4125,35.780465,43.002814,36.011917,64.800855,45.526878,unknown
1,Absheron Marina,30,0.000000,100.000000,100.0000,100.000000,138.666667,140.000000,140.000000,182.903226,unknown
2,Abu Arena Hotel,31,38.709677,28.464286,27.0000,36.444444,18.233333,28.580645,30.428571,18.448276,4-star hotel

In [1611]:
booking_index=booking_index.iloc[:,0:10].round(2)
booking_index.columns

Index(['Hotels', 'Count of property_name', 'December', 'January', 'February',
       'March', 'April', 'May', 'June', 'July'],
      dtype='object')

In [1088]:
booking_july=pd.DataFrame({'Hotels':['ABSERON HOTEL','Absheron Marina','Abu Arena Hotel','Admiral Hotel','AEF Hotel'],
                           'July':booking_index['June'][0:5]*1.5})
booking_july

            Hotels     July
0    ABSERON HOTEL   97.200
1  Absheron Marina  210.000
2  Abu Arena Hotel   45.645
3    Admiral Hotel   90.000
4        AEF Hotel   66.675

In [1612]:
#*** Attention !
booking_index=pd.merge(booking_index,booking_july,how='left',on='Hotels')

In [ ]:
for col in booking_index.columns:
    col

In [1130]:
m_index=booking_index.iloc[:,2:9].agg([np.mean])
for col in m_index.columns:
    print(col)

December
January
February
March
April
May
June

In [1134]:
#** Attention!
m_index.loc['indexed']=m_index.loc['mean']/m_index.loc['mean','December']*100
m_index

,December,January,February,March,April,May,June
mean,96.906435,99.099051,83.948270,100.336878,101.671118,101.571224,182.685000
indexed,100.000000,102.262611,86.628169,103.539954,104.916788,104.813704,188.516893

In [1107]:
booking_july['July'].cumprod(axis=1).sum()

ValueError: No axis named 1 for object type <class 'pandas.core.series.Series'>

In [1317]:
df1=pd.read_excel('STA-Tourism/Booking data/Booking.com Data aug1-2.xls',parse_dates=True)
df2=pd.read_excel('STA-Tourism/Booking data/Booking.com Data aug2-3.xls',parse_dates=True)
df3=pd.read_excel('STA-Tourism/Booking data/Booking.com Data aug5-31.xls',parse_dates=True)

In [1313]:
print(df1.isna().sum())

Unnamed: 0                0
property_name             9
property_location        10
property_star_rating    587
top_review              149
customer_rating         149
type_of_room             12
price                    10
today                     0
dtype: int64

In [1319]:
df2.isna().sum()

Unnamed: 0                0
property_name             9
property_location        10
property_star_rating    587
top_review              149
customer_rating         149
type_of_room             12
price                    10
today                     0
dtype: int64

In [1257]:
df1=df1.iloc[:,1:9]#.reset_index(drop=True,inplace=True)
df2=df2.iloc[:,1:9]#.reset_index(drop=True,inplace=True)
df3=df3.iloc[:,1:9]#.reset_index(drop=True,inplace=True)

In [1322]:
df_merged=pd.concat([df1,df2,df3],sort=False) #heresini oz indeksiyle yapiwtirir.
df_merged.shape

(10413, 9)

In [1337]:
df_merged.isna().sum()

index                       0
Unnamed: 0               9495
property_name               0
property_location           0
property_star_rating    10403
top_review               2112
customer_rating          2112
type_of_room               44
price                       0
today                       0
dtype: int64

In [1345]:
df_merged

,property_name,property_location,property_star_rating,top_review,customer_rating,type_of_room,price,today
0,Old Hotel In Baku,Baku,NaN,Good,7.3,Standard Triple Room,150.0,"Saturday, August 1, 2020"
1,Kristal Hotel,Baku,NaN,Very Good,8.3,Standard Double Room,58.0,"Saturday, August 1, 2020"
2,Sea Park Hotel,Baku,NaN,Good,7.9,Double Room with Sea View,80.0,"Saturday, August 1, 2020"
3,Park Inn by Radisson Baku Hotel,Baku,NaN,Very Good,8.2,Standard Room,131.0,"Saturday, August 1, 2020"
4,Boyuk Ashirim Hotel,Ganja,NaN,NaN,NaN,Double Room with Balcony,115.0,"Saturday, August 1, 2020"
...,...,...,...,...,...,...,...,...
10398,El Resort Hotel,Qax,NaN,Very Good,8.1,Standard Twin Room,109.0,"Monday, August 31, 2020"
10399,Sheki Saray Hotel,Sheki,NaN,Excellent,8.8,Queen Room,120.0,"Monday, August 31, 2020"
10400,POLAD,İsmayilli,NaN,Very Good,8.2,Deluxe Room (2 Adults + 1 Child),52.0,"Monday, August 31, 2020"
10401,Lux Inn,Kürdǝmir,NaN,Excellent,8.9,Double Room,90.0,"Monday, August 31, 2020"
10402,Neapol Hotel,Baku,NaN,Wonderful,9.0,Standard Double Room,140.0,"Monday, August 31, 2020"

In [1330]:
df_merged=df_merged.dropna(how='all')

df_merged=df_merged.dropna(subset=['price'])

df_merged['price']=df_merged['price'].str.replace('AZN ','').str.replace(',','').astype('float')

df_merged['property_location']=df_merged['property_location'].str.replace('.+?( )','')

In [1339]:
df_merged=df_merged.drop(columns=['Unnamed: 0'])

In [1335]:
df_merged.reset_index(drop=True,inplace=True)

In [1352]:
loc_dict={ 'Calut':'Oğuz','Yeniyol':'İsmayilli', 'Ərǝkit':'İsmayilli','Azad':'Ganja','Şǝrǝdil': 'Şamaxı',
'Qaxbaş': 'Qax','Vartaşenqışlaq': 'Oğuz','Ucgun':'Quba','Afurca':'Quba', 'Yengica': 'Quba' ,
'Çilǝgir':'Qusar','Shahdag' : 'Qusar','Galaalti':'Şabran','Daşca': 'Qəbələ','Vǝndam' : 'Qəbələ',
'Novxanı':'Absheron', 'Buzovna':'Absheron', 'Mərdəkan':'Absheron', 'Nardaran':'Absheron',
'Nabran': 'Khacmaz', 'Xudat': 'Khacmaz','Şahnǝzǝrli': 'Shabran','Altıağac':'Khizi','Nüvǝdi': 'Lerik', 
'Bala-Muradkhan' : 'Kurdamir','Uçgün':'Quba','Lahıc':'İsmayilli'}

df_merged['property_location'].replace(loc_dict,inplace=True)

In [1365]:
np.sort(df_merged['property_location'].unique())

array(['Absheron', 'Astara', 'Ağcabǝdi', 'Ağstafa', 'Baku', 'Beylǝqan',
       'Gabala', 'Ganja', 'Goranboy', 'Khacmaz', 'Khizi', 'Kurdamir',
       'Kürdǝmir', 'Lankaran', 'Lerik', 'Masallı', 'Mingachevir',
       'Naxçıvan', 'Oğuz', 'Qax', 'Qazax', 'Qobustan', 'Quba', 'Qusar',
       'Qəbələ', 'Salyan', 'Shabran', 'Shamakhi', 'Sheki', 'Sumqayıt',
       'Turist', 'Tǝrtǝr', 'Zaqatala', 'İsmayilli', 'İsmayıllı', 'Şǝmkir'],
      dtype=object)

In [1354]:
df_merged.to_excel('Booking.com Data aug ver1.xls',index=True)

In [46]:
hotel_list=pd.read_excel('STA-Tourism/Booking.com hotels .xlsx')
hotel_list.head()

  Unique hotels dec-march   Star rating
0           ABSERON HOTEL       unknown
1         Absheron Marina       unknown
2         Abu Arena Hotel  4-star hotel
3           Admiral Hotel  4-star hotel
4               AEF Hotel  4-star hotel

In [47]:
hotel_list.rename(columns={'Unique hotels dec-march':'property_name'},inplace=True)

In [1389]:
df_merged=pd.merge(df_merged,hotel_list,left_on='property_name',right_on='property_name',how='left')

In [1390]:
df_merged.drop(columns=['property_star_rating'],inplace=True)

KeyError: "['property_star_rating'] not found in axis"

In [1391]:
df_merged.head()

,property_name,property_location,top_review,customer_rating,type_of_room,price,today,Star rating
0,Old Hotel In Baku,Baku,Good,7.3,Standard Triple Room,150.0,"Saturday, August 1, 2020",unknown
1,Kristal Hotel,Baku,Very Good,8.3,Standard Double Room,58.0,"Saturday, August 1, 2020",4-star hotel
2,Sea Park Hotel,Baku,Good,7.9,Double Room with Sea View,80.0,"Saturday, August 1, 2020",4-star hotel
3,Park Inn by Radisson Baku Hotel,Baku,Very Good,8.2,Standard Room,131.0,"Saturday, August 1, 2020",4-star hotel
4,Boyuk Ashirim Hotel,Ganja,NaN,NaN,Double Room with Balcony,115.0,"Saturday, August 1, 2020",4-star hotel

In [1401]:
df_merged.groupby('Star rating')['price'].agg([np.min,np.mean,np.max,np.std])

              amin        mean    amax         std
Star rating
2-star hotel  30.0   46.863248    60.0   12.130686
3-star hotel  29.0   79.823905   400.0   59.528643
4-star hotel  25.0  173.533816  9000.0  785.875300
5-star hotel  40.0  157.155635   584.0   99.313890
unknown       10.0   92.244456   550.0   76.465616

In [1403]:
df_merged['price'].agg([np.min,np.mean,np.max,np.std])

amin      10.000000
mean     127.223878
amax    9000.000000
std      476.282563
Name: price, dtype: float64

In [1404]:
df_merged['price'].agg([np.min,np.mean,np.max,np.std])['std']

476.2825631335719

In [1408]:
outlier=df_merged['price'].mean()+2*df_merged['price'].std()
outlier

1079.7890039947224

In [1413]:
df_merged_no_outlier=df_merged[df_merged['price']<outlier]

In [1476]:
df_merged_no_outlier['price'].agg([np.min,np.mean,np.max,np.std])

amin      10.000000
mean     102.420474
amax    1000.000000
std       82.266305
Name: price, dtype: float64

In [1414]:
df_merged_no_outlier.groupby('Star rating')['price'].agg([np.min,np.mean,np.max,np.std])

              amin        mean    amax        std
Star rating
2-star hotel  30.0   46.863248    60.0  12.130686
3-star hotel  29.0   79.823905   400.0  59.528643
4-star hotel  25.0  104.297268  1000.0  79.821551
5-star hotel  40.0  157.155635   584.0  99.313890
unknown       10.0   92.244456   550.0  76.465616

In [1429]:
aug_mean=df_merged_no_outlier.groupby('property_name')['price'].mean().round(decimals=2)
aug_mean

property_name
2nd Inning Guest House     70.0
AEF Hotel                  36.0
AEF-Butik Hotel            30.0
AF HOTEL                  146.9
AF HOTEL AQUAPARK         100.0
                          ...
kings group baku hotel     58.2
vip nomera                 65.0
Çıraqban.otel              60.0
МАДИНА ОТЕЛ                40.0
Статус Status              78.0
Name: price, Length: 371, dtype: float64

In [1613]:
booking_index=pd.merge(booking_index,aug_mean,how='left',right_on='property_name',left_on='Hotels')
booking_index

,Hotels,Count of property_name,December,January,February,March,April,May,June,July_x,July_y,price
0,ABSERON HOTEL,30,35.00,35.00,29.41,35.78,43.00,36.01,64.80,45.53,97.200,NaN
1,Absheron Marina,30,0.00,100.00,100.00,100.00,138.67,140.00,140.00,182.90,210.000,180.00
2,Abu Arena Hotel,31,38.71,28.46,27.00,36.44,18.23,28.58,30.43,18.45,45.645,NaN
3,Admiral Hotel,31,74.32,61.32,60.00,68.87,65.83,63.41,60.00,75.00,90.000,75.00
4,AEF Hotel,31,65.39,66.50,65.39,50.68,41.67,55.00,44.45,44.68,66.675,36.00
...,...,...,...,...,...,...,...,...,...,...,...,...
469,Yurd Hotel,30,65.33,105.56,100.00,102.66,123.38,81.67,98.66,99.00,NaN,99.00
470,ZamZam Hotel,31,70.48,99.65,83.74,80.00,65.00,93.00,302.86,70.00,NaN,NaN
471,Zaqatala Hotel,31,30.00,30.89,30.17,31.61,31.33,35.00,35.00,35.00,NaN,30.69
472,Zaqatala olimpiya idman kompleksi,30,50.00,50.00,50.00,60.83,130.00,108.87,195.90,50.00,NaN,NaN
473,Zirve Hotel,30,152.67,149.00,148.28,127.58,153.33,128.41,231.06,162.33,NaN,NaN

In [1614]:
booking_index.drop(columns=['Count of property_name'],inplace=True)

In [1615]:
booking_index.rename(columns={'price':'Aug'},inplace=True)

In [1619]:
booking_index.rename(columns={'July_x':'July'},inplace=True)
booking_index.drop(columns='July_y',inplace=True)

In [1621]:
mean_aug=booking_index['Aug'].mean()
mean_july=booking_index['July'].mean()
booking_index['Aug'].fillna(mean_aug/mean_july*booking_index['July'],inplace=True)

In [1620]:
booking_index['July'].mean()

128.3812869198312

In [1475]:
mean_july

128.3812869198312

In [1622]:
mean_aug

106.11988549618319

In [1473]:
booking_index.iloc[100:112,[0,7,8,9]]

                           Hotels    June    July         Aug
100            Central Park Hotel  223.90  143.96  119.000000
101                 CENTRIC HOTEL  182.81  128.44  106.168418
102          Centrum Hotel&Hostel   43.31   30.43   25.153418
103        Chapman Taylor in Baku  433.10  304.28  251.517644
104               Chateau Monolit  115.71  115.33  130.000000
105                 Chateau Qusar  370.13  260.04  214.948889
106  Check-in Baku Hotel & Hostel   50.84   35.72   29.526128
107      Check-in Old City Aparts   97.64   77.67   60.000000
108   Chinar Hotel & Spa Naftalan  355.63  249.85  206.525842
109            Chirag Plaza Hotel  646.90  454.49  375.681129
110         Cinema Boutique Hotel  128.09   89.99   74.385674
111                 Çıraqban.otel   60.00   60.00   60.000000

In [1623]:
mean_aug/mean_july

0.826599328003704

In [1624]:
booking_index=pd.merge(booking_index,hotel_list,left_on='Hotels',right_on='property_name',how='left')
booking_index

,Hotels,December,January,February,March,April,May,June,July,Aug,property_name,Star rating
0,ABSERON HOTEL,35.00,35.00,29.41,35.78,43.00,36.01,64.80,45.53,37.635067,ABSERON HOTEL,unknown
1,Absheron Marina,0.00,100.00,100.00,100.00,138.67,140.00,140.00,182.90,180.000000,Absheron Marina,unknown
2,Abu Arena Hotel,38.71,28.46,27.00,36.44,18.23,28.58,30.43,18.45,15.250758,Abu Arena Hotel,4-star hotel
3,Admiral Hotel,74.32,61.32,60.00,68.87,65.83,63.41,60.00,75.00,75.000000,Admiral Hotel,4-star hotel
4,AEF Hotel,65.39,66.50,65.39,50.68,41.67,55.00,44.45,44.68,36.000000,AEF Hotel,4-star hotel
...,...,...,...,...,...,...,...,...,...,...,...,...
469,Yurd Hotel,65.33,105.56,100.00,102.66,123.38,81.67,98.66,99.00,99.000000,Yurd Hotel,4-star hotel
470,ZamZam Hotel,70.48,99.65,83.74,80.00,65.00,93.00,302.86,70.00,57.861953,ZamZam Hotel,4-star hotel
471,Zaqatala Hotel,30.00,30.89,30.17,31.61,31.33,35.00,35.00,35.00,30.690000,Zaqatala Hotel,2-star hotel
472,Zaqatala olimpiya idman kompleksi,50.00,50.00,50.00,60.83,130.00,108.87,195.90,50.00,41.329966,Zaqatala olimpiya idman kompleksi,3-star hotel
473,Zirve Hotel,152.67,149.00,148.28,127.58,153.33,128.41,231.06,162.33,134.181869,Zirve Hotel,4-star hotel

In [1668]:
booking_index.describe()

,December,January,February,March,April,May,June,July,Aug
count,474.000000,474.000000,474.000000,474.000000,474.000000,474.000000,474.000000,474.000000,474.000000
mean,96.906435,99.099051,83.948270,100.336878,101.671118,101.571224,182.685000,128.381287,109.160022
std,60.227692,108.643011,56.692679,78.384868,71.402186,68.114215,150.718016,107.304386,80.712718
min,0.000000,9.150000,7.690000,9.360000,11.250000,9.420000,16.950000,11.760000,9.844798
25%,60.000000,59.095000,50.027500,61.280000,58.597500,60.000000,82.850000,64.092500,60.000000
50%,80.875000,78.115000,68.000000,81.550000,81.350000,83.130000,133.355000,95.845000,87.158519
75%,120.000000,111.510000,99.000000,114.172500,121.137500,120.000000,230.632500,159.630000,130.750000
max,475.000000,2000.000000,438.000000,1095.160000,593.570000,584.000000,945.000000,1000.000000,781.136365

In [1674]:
outs=booking_index.iloc[:,1:10][booking_index.iloc[:,1:10]<outlier]
outs

,December,January,February,March,April,May,June,July,Aug
0,35.00,35.00,29.41,35.78,43.00,36.01,64.80,45.53,37.635067
1,0.00,100.00,100.00,100.00,138.67,140.00,140.00,182.90,180.000000
2,38.71,28.46,27.00,36.44,18.23,28.58,30.43,18.45,15.250758
3,74.32,61.32,60.00,68.87,65.83,63.41,60.00,75.00,75.000000
4,65.39,66.50,65.39,50.68,41.67,55.00,44.45,44.68,36.000000
...,...,...,...,...,...,...,...,...,...
469,65.33,105.56,100.00,102.66,123.38,81.67,98.66,99.00,99.000000
470,70.48,99.65,83.74,80.00,65.00,93.00,302.86,70.00,57.861953
471,30.00,30.89,30.17,31.61,31.33,35.00,35.00,35.00,30.690000
472,50.00,50.00,50.00,60.83,130.00,108.87,195.90,50.00,41.329966
473,152.67,149.00,148.28,127.58,153.33,128.41,231.06,162.33,134.181869

In [1639]:
outlier=booking_index.iloc[:,1:10].mean()+2*booking_index.iloc[:,1:10].std()
avgs=booking_index[booking_index<outlier].mean().round(decimals=2)
avgs=avgs[1:10]
#booking_index.mean().round(decimals=2)

In [1636]:
avgs.tolist()

[nan, 88.62, 89.73, 76.76, 90.94, 89.84, 91.07, 162.0, 114.24, 99.02, nan, nan]

In [71]:
avgs_by_stars=booking_index.groupby('Star rating').agg([np.mean]).round(decimals=2)
avgs_by_stars

NameError: name 'booking_index' is not defined

In [1640]:
avgs_by_stars.loc['Avg Price']=avgs.tolist()

In [1643]:
price_index=avgs/avgs['December']*100
price_index

December    100.000000
January     101.252539
February     86.617016
March       102.617919
April       101.376664
May         102.764613
June        182.802979
July        128.909953
Aug         111.735500
dtype: float64

In [1648]:
avgs_by_stars.loc['2_star_index']=avgs_by_stars.loc['2-star hotel']/avgs_by_stars.loc['2-star hotel','December'].tolist()

In [1650]:
avgs_by_stars.loc['4_star_index']=avgs_by_stars.loc['4-star hotel']/avgs_by_stars.loc['4-star hotel','December'].tolist()

In [1644]:
avgs_by_stars.loc['Price index']=price_index.tolist()

In [1651]:
avgs_by_stars.round(decimals=2)

,December,January,February,March,April,May,June,July,Aug
,mean,mean,mean,mean,mean,mean,mean,mean,mean
Star rating,,,,,,,,,
2-star hotel,42.59,37.58,36.82,44.79,50.45,45.58,65.54,50.94,46.43
3-star hotel,64.93,61.19,51.49,64.28,63.82,79.43,155.08,96.15,82.27
4-star hotel,93.39,91.10,79.12,94.51,98.56,99.22,200.71,133.21,108.52
5-star hotel,162.28,190.15,147.84,181.41,163.38,158.67,247.33,187.70,167.06
unknown,84.77,83.25,74.63,85.18,93.61,87.55,136.50,107.25,94.55
Avg Price,88.62,89.73,76.76,90.94,89.84,91.07,162.00,114.24,99.02
Price index,100.00,101.25,86.62,102.62,101.38,102.76,182.80,128.91,111.74
2_star_index,1.00,0.88,0.86,1.05,1.18,1.07,1.54,1.20,1.09
4_star_index,1.00,0.98,0.85,1.01,1.06,1.06,2.15,1.43,1.16

In [ ]:
avgs_by_stars.to_excel('')

In [1654]:
test=booking_index.iloc[0:5,1:3]
test

   December  January
0     35.00    35.00
1      0.00   100.00
2     38.71    28.46
3     74.32    61.32
4     65.39    66.50

In [1658]:
test[test<test.mean()]

   December  January
0     35.00    35.00
1      0.00      NaN
2     38.71    28.46
3       NaN      NaN
4       NaN      NaN

In [1659]:
for col in test.columns:
    if test[col]<test[col].mean():
        test=test.drop(index=[test[col].index])
test

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [1676]:
booking_index.to_excel('booking_index.xls')

In [2]:
from scipy import stats

In [129]:
table=pd.read_excel('booking_index.xls')

In [7]:
table['Aug']

0       37.635067
1      180.000000
2       15.250758
3       75.000000
4       36.000000
          ...
469     99.000000
470     57.861953
471     30.690000
472     41.329966
473    134.181869
Name: Aug, Length: 474, dtype: float64

In [24]:
z = np.abs(stats.zscore(table['July']))
print(z)

[7.72930395e-01 5.08612141e-01 1.02556323e+00 4.98000945e-01
 7.80860155e-01 1.08797510e+00 6.37937890e-01 2.64772705e-01
 3.88266369e-01 4.98000945e-01 7.21900056e-01 5.84178091e-01
 7.85524720e-01 3.55046815e+00 7.22832969e-01 7.77874834e-01
 7.31229186e-01 1.08392480e-01 9.69564436e-01 3.99858502e-01
 2.41636463e-01 2.15701483e-01 4.90327047e-01 4.18236887e-01
 7.71786888e-01 2.25644879e-02 6.54637032e-01 1.39413313e+00
 4.06831337e-01 1.70274073e+00 1.82429929e+00 8.54428215e-02
 6.60421092e-01 4.01607025e-01 2.57029527e-01 7.26191456e-01
 3.45656258e-01 2.22791621e-01 4.02937114e-01 6.43535367e-01
 3.29578291e+00 4.79342686e-01 7.77874834e-01 5.80563742e-01
 9.50836897e-01 6.60234509e-01 3.33714973e-01 4.17397265e-01
 7.82259525e-01 8.24520482e-01 9.17811778e-01 8.24520482e-01
 8.24520482e-01 8.71166130e-01 3.57386950e-01 9.50836897e-01
 1.10896584e-02 4.57139357e-01 8.04556145e-01 6.13402279e-01
 4.90071185e-01 6.65925278e-01 1.07426128e+00 2.88748568e-01
 5.90639202e-01 2.01683777e-01 5.68995622e-01 1.28007664e-01
 6.34859277e-01 5.44646593e-01 7.75729134e-01 6.47267019e-01
 1.16812709e-01 3.76349095e-01 9.92607386e-01 1.48625041e-01
 2.10290588e-01 5.14676076e-01 1.52519264e-01 8.73660984e-01
 2.63909071e-01 3.45656258e-01 1.24835760e-01 1.48158584e-01
 4.17863722e-01 2.10290588e-01 3.29492853e-01 6.68140258e-01
 7.31229186e-01 8.64449157e-01 3.17202413e-01 2.96958202e-01
 6.84583538e-01 8.68662026e-02 4.06831337e-01 6.20025961e-01
 1.51011842e-02 7.34960838e-01 9.24342169e-01 6.42322581e-01
 1.45335834e-01 5.47741936e-04 9.13800253e-01 1.64098190e+00
 1.21757147e-01 1.22826120e+00 8.64449157e-01 4.73092169e-01
 1.13319737e+00 3.04231046e+00 3.58157292e-01 6.37937890e-01
 7.31882225e-01 4.04709649e-01 4.51355297e-01 1.33231977e-01
 2.64772705e-01 7.32908429e-01 1.63911607e+00 6.48946263e-01
 6.11443161e-01 4.19332371e-01 2.79993947e-02 7.21900056e-01
 6.54637032e-01 2.53396618e+00 1.48998206e-01 2.92922664e-01
 9.23105371e-01 2.98077697e-01 4.51355297e-01 5.18898196e-01
 4.03496862e-01 6.00621371e-01 8.27412512e-01 1.45242542e-01
 5.44646593e-01 1.43779345e+00 1.45402614e+00 1.59172409e+00
 2.07467837e-01 7.61834183e+00 8.24520482e-01 4.57139357e-01
 7.52102425e-01 2.83710838e-01 2.49846097e-01 3.55078679e-01
 7.77874834e-01 6.13029113e-01 5.80563742e-01 1.80810538e-01
 4.51355297e-01 7.53245932e-01 4.75704325e-01 6.84583538e-01
 8.27412512e-01 2.08120876e-01 6.11163288e-01 7.03988127e-01
 3.87520039e-01 2.74101834e-01 1.76897755e+00 4.06831337e-01
 6.84583538e-01 4.57139357e-01 7.38412616e-01 7.31229186e-01
 4.07788262e-01 1.24607984e+00 1.39581237e+00 4.25052603e+00
 2.25810382e+00 2.72049426e-01 5.30255722e-01 7.77104492e-01
 1.55459415e+00 5.74848962e-01 4.98000945e-01 4.06295601e-01
 1.38181867e+00 1.25895404e+00 4.57139357e-01 3.93701276e-01
 4.51355297e-01 6.73295291e-01 2.10290588e-01 4.51355297e-01
 1.42654398e-01 7.79460786e-01 6.68140258e-01 7.28710321e-01
 1.56624081e-01 3.25971795e-01 4.23367908e-01 2.10359867e-01
 3.65581823e-02 5.44646593e-01 6.92675869e-01 6.42322581e-01
 1.05968383e+00 1.51186674e+00 4.31111086e-01 7.81901121e-02
 2.73984531e-01 6.91673676e-01 7.49887445e-01 3.53694071e-02
 7.03988127e-01 5.80563742e-01 2.06750970e+00 1.27070874e+00
 1.76775001e-01 5.00215925e-01 8.58827667e-01 3.95473811e-01
 2.72049426e-01 4.57139357e-01 6.54450449e-01 3.47218199e-01
 1.04130544e+00 4.93149798e-01 6.12562657e-01 4.69149923e-01
 3.21307230e-01 4.12055650e-01 8.08847544e-01 4.20849043e-01
 1.37872530e-01 7.65467092e-01 4.57139357e-01 1.74490840e+00
 5.42127728e-01 9.75559091e-01 3.58064001e-01 8.36010073e-02
 2.22698330e-01 1.48625041e-01 2.92456208e-01 6.37937890e-01
 1.84053198e+00 3.35556787e-01 5.18898196e-01 2.20552630e-01
 7.79087621e-01 6.59394888e-01 1.25839429e+00 4.23088034e-01
 3.33714973e-01 7.34307799e-01 7.24978669e-01 5.52389771e-01
 5.46699002e-01 4.36708564e-01 7.10028050e-01 9.78147235e-01
 6.75254408e-01 8.71166130e-01 8.71166130e-01 3.58064001e-01
 1.27070874e+00 1.88783067e+00 6.84583538e-01 6.90623460e-01
 8.13144396e+00 3.00042266e+00 2.18127056e-01 1.31306299e+00
 3.58064001e-01 8.80495260e-01 2.83406952e-01 6.37937890e-01
 6.87942024e-01 6.37937890e-01 2.33240246e-01 4.75704325e-01
 3.35978074e+00 2.64772705e-01 4.04709649e-01 2.49939388e-01
 1.88783067e+00 3.88266369e-01 2.64772705e-01 6.37937890e-01
 5.44646593e-01 4.90257768e-01 5.44646593e-01 3.58064001e-01
 6.40550046e-01 2.55163701e-01 3.49108036e-01 2.74101834e-01
 5.88842656e-01 4.57139357e-01 4.61671858e-02 7.64440887e-01
 4.04056610e-01 7.34214507e-01 1.87527511e-01 6.95778493e-01
 2.59081936e-01 4.51355297e-01 4.51355297e-01 6.05659101e-01
 4.55622685e-01 4.00339719e-02 4.57978979e-01 1.04953909e+00
 8.64729031e-01 2.99103902e-01 4.07788262e-01 2.14581987e-01
 8.56332814e-01 1.08657573e+00 8.68662026e-02 2.90948786e-02
 1.10538180e-01 6.24573223e-01 2.41504399e-02 1.25167732e+00
 5.41902373e-02 4.06388892e-01 5.76341622e-01 6.05914963e-01
 8.68662026e-02 3.82575600e-01 9.21823304e-01 4.79342686e-01
 3.65581823e-02 4.66483268e+00 3.92930934e-01 4.51355297e-01
 7.81901121e-02 5.71141321e-01 2.00868167e-01 9.62194424e-01
 1.82465770e-01 8.65568652e-01 1.58475145e-02 1.58583198e-01
 1.02385997e+00 1.79239347e-02 3.83695096e-01 2.50495259e+00
 1.23376539e+00 1.98418581e-01 7.03031203e-01 5.87816452e-01
 6.20025961e-01 7.31229186e-01 4.57139357e-01 3.33714973e-01
 7.11707293e-01 6.37937890e-01 2.87908946e-01 4.15751461e+00
 1.43494019e-01 1.73253943e-01 4.11589193e-01 1.48998206e-01
 2.94975073e-01 4.58818601e-01 2.74101834e-01 2.64772705e-01
 6.42322581e-01 5.44646593e-01 1.61038235e+00 5.80563742e-01
 1.54274616e+00 4.89511437e-01 9.17811778e-01 2.95931998e-01
 6.93912667e-01 2.95278958e-01 2.64772705e-01 6.66764900e-01
 3.22986473e-01 3.09086070e-01 3.48734871e-01 7.81901121e-02
 2.49752806e-01 6.37937890e-01 6.93912667e-01 4.57139357e-01
 9.50743606e-01 5.97169593e-01 3.79800873e-01 4.89674008e-01
 3.67393130e-01 3.88919408e-01 1.52823149e-01 2.88724556e-01
 6.65154936e-01 6.66554306e-01 6.79335213e-01 1.59982567e-01
 2.14581987e-01 1.69434452e+00 8.85066730e-03 5.30652899e-01
 6.24690526e-01 7.31229186e-01 4.97347906e-01 6.00621371e-01
 7.81901121e-02 3.29959309e-01 5.30255722e-01 4.98000945e-01
 3.54612223e-01 8.68250088e-01 4.35682359e-01 2.94975073e-01
 6.37937890e-01 4.88671816e-01 2.22698527e-03 9.19039326e-02
 1.61288645e-01 4.51355297e-01 1.79239347e-02 5.44646593e-01
 1.67568626e+00 3.61422488e-01 1.01955381e-01 3.30356486e-01
 2.16354522e-01 3.31289399e-01 1.35260374e-01 7.53339223e-01
 6.29704244e-01 6.68140258e-01 6.37937890e-01 3.45755002e+00
 2.54460139e+00 1.80629407e+00 3.65581823e-02 5.00146645e-01
 3.20187735e-01 2.13904936e-01 3.65581823e-02 3.00409980e-01
 3.58064001e-01 1.51011842e-02 3.06660497e-01 4.60404553e-01
 5.64213754e-01 4.24114239e-01 3.46402589e-01 2.94975073e-01
 5.58267123e-01 8.71166130e-01 2.64772705e-01 4.04709649e-01
 5.71303892e-01 3.88266369e-01 9.61713206e-02 3.20747482e-01
 7.31229186e-01 4.89511437e-01 3.94727480e-01 8.52134706e-01
 8.69354823e-02 3.54239058e-01 3.11418353e-01 3.15444640e-02
 2.83686826e-01 1.17499187e+00 6.37937890e-01 5.80563742e-01
 2.83430964e-01 2.74101834e-01 5.44646593e-01 8.71166130e-01
 7.31229186e-01 3.16711945e-01]

In [10]:
np.where(z>3)

(array([ 13,  40, 109, 141, 171, 265, 276, 329, 431], dtype=int32),)

In [20]:
table['July'][z<3]

0       45.53
1      182.90
2       18.45
3       75.00
4       44.68
        ...
469     99.00
470     70.00
471     35.00
472     50.00
473    162.33
Name: July, Length: 463, dtype: float64

In [32]:
table['July'][table['July']<table['July'].mean()+2*table['July'].std()].mean()

114.23624454148471

In [25]:
table['July'][z<3].mean()

117.14613390928724

In [26]:
table[z<3].mean()

Unnamed: 0    236.948164
December       94.127581
January        96.905832
February       81.690734
March          97.900000
April          98.789482
May            97.185378
June          173.342505
July          117.146134
Aug           101.754501
dtype: float64

In [28]:
s=pd.Series([3,4,5,6])
f=[2,7,4,5]
s[s>f]

0    3
2    5
3    6
dtype: int64

In [29]:
s

0    3
1    4
2    5
3    6
dtype: int64

In [30]:
s>f

0     True
1    False
2     True
3     True
dtype: bool

In [130]:
#table=table.set_index('Hotels')
table=table.drop(columns=['Unnamed: 0','property_name','Star rating'])

In [131]:
table

,Hotels,December,January,February,March,April,May,June,July,Aug
0,ABSERON HOTEL,35.00,35.00,29.41,35.78,43.00,36.01,64.80,45.53,37.635067
1,Absheron Marina,0.00,100.00,100.00,100.00,138.67,140.00,140.00,182.90,180.000000
2,Abu Arena Hotel,38.71,28.46,27.00,36.44,18.23,28.58,30.43,18.45,15.250758
3,Admiral Hotel,74.32,61.32,60.00,68.87,65.83,63.41,60.00,75.00,75.000000
4,AEF Hotel,65.39,66.50,65.39,50.68,41.67,55.00,44.45,44.68,36.000000
...,...,...,...,...,...,...,...,...,...,...
469,Yurd Hotel,65.33,105.56,100.00,102.66,123.38,81.67,98.66,99.00,99.000000
470,ZamZam Hotel,70.48,99.65,83.74,80.00,65.00,93.00,302.86,70.00,57.861953
471,Zaqatala Hotel,30.00,30.89,30.17,31.61,31.33,35.00,35.00,35.00,30.690000
472,Zaqatala olimpiya idman kompleksi,50.00,50.00,50.00,60.83,130.00,108.87,195.90,50.00,41.329966
473,Zirve Hotel,152.67,149.00,148.28,127.58,153.33,128.41,231.06,162.33,134.181869

In [132]:
table=table.set_index('Hotels')

In [89]:
table[table<table.mean()+2*table.std()].mean()

December     88.624242
January      89.728301
February     76.755087
March        90.942522
April        89.843956
May          91.065298
June        162.002325
July        114.236245
Aug          99.020936
dtype: float64

In [133]:
table=table[table<table.mean()+2*table.std()]
table

,December,January,February,March,April,May,June,July,Aug
Hotels,,,,,,,,,
ABSERON HOTEL,35.00,35.00,29.41,35.78,43.00,36.01,64.80,45.53,37.635067
Absheron Marina,0.00,100.00,100.00,100.00,138.67,140.00,140.00,182.90,180.000000
Abu Arena Hotel,38.71,28.46,27.00,36.44,18.23,28.58,30.43,18.45,15.250758
Admiral Hotel,74.32,61.32,60.00,68.87,65.83,63.41,60.00,75.00,75.000000
AEF Hotel,65.39,66.50,65.39,50.68,41.67,55.00,44.45,44.68,36.000000
...,...,...,...,...,...,...,...,...,...
Yurd Hotel,65.33,105.56,100.00,102.66,123.38,81.67,98.66,99.00,99.000000
ZamZam Hotel,70.48,99.65,83.74,80.00,65.00,93.00,302.86,70.00,57.861953
Zaqatala Hotel,30.00,30.89,30.17,31.61,31.33,35.00,35.00,35.00,30.690000
Zaqatala olimpiya idman kompleksi,50.00,50.00,50.00,60.83,130.00,108.87,195.90,50.00,41.329966
Zirve Hotel,152.67,149.00,148.28,127.58,153.33,128.41,231.06,162.33,134.181869

In [64]:
table[table<table.mean()+2*table.std()].max()

December    212.87
January     305.12
February    196.58
March       254.97
April       244.02
May         233.36
June        483.17
July        330.74
Aug         270.00
dtype: float64

In [100]:
table.max()

December    172.160000
January     188.760000
February    155.430000
March       181.530000
April       180.630000
May         177.420000
June        376.610000
July        249.850000
Aug         210.229007
dtype: float64

In [98]:
table

,December,January,February,March,April,May,June,July,Aug
Hotels,,,,,,,,,
ABSERON HOTEL,35.00,35.00,29.41,35.78,43.00,36.01,64.80,45.53,37.635067
Absheron Marina,0.00,100.00,100.00,100.00,138.67,140.00,140.00,182.90,180.000000
Abu Arena Hotel,38.71,28.46,27.00,36.44,18.23,28.58,30.43,18.45,15.250758
Admiral Hotel,74.32,61.32,60.00,68.87,65.83,63.41,60.00,75.00,75.000000
AEF Hotel,65.39,66.50,65.39,50.68,41.67,55.00,44.45,44.68,36.000000
...,...,...,...,...,...,...,...,...,...
Yurd Hotel,65.33,105.56,100.00,102.66,123.38,81.67,98.66,99.00,99.000000
ZamZam Hotel,70.48,99.65,83.74,80.00,65.00,93.00,302.86,70.00,57.861953
Zaqatala Hotel,30.00,30.89,30.17,31.61,31.33,35.00,35.00,35.00,30.690000
Zaqatala olimpiya idman kompleksi,50.00,50.00,50.00,60.83,130.00,108.87,195.90,50.00,41.329966
Zirve Hotel,152.67,149.00,148.28,127.58,153.33,128.41,231.06,162.33,134.181869

In [140]:
table0=pd.concat([table,hotel_list],axis=1,ignore_index=True,join='outer') #errror

,0,1,2,3,4,5,6,7,8,9,10
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ABSERON HOTEL,unknown
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Absheron Marina,unknown
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Abu Arena Hotel,4-star hotel
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Admiral Hotel,4-star hotel
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,AEF Hotel,4-star hotel
...,...,...,...,...,...,...,...,...,...,...,...
Zirve Hotel,152.67,149.00,148.28,127.58,153.33,128.41,231.06,162.33,134.181869,NaN,NaN
ecotourism,50.00,50.85,42.74,51.99,62.48,52.32,94.15,66.15,54.679546,NaN,NaN
my beds,55.00,58.30,48.99,59.60,71.63,59.99,107.94,75.83,62.681027,NaN,NaN
qedim nuxa,60.00,61.02,51.28,62.38,74.98,62.79,112.98,79.38,65.615455,NaN,NaN
Çıraqban.otel,60.00,60.00,50.42,61.34,60.00,60.00,60.00,60.00,60.000000,NaN,NaN

In [141]:
table1=pd.merge(table,hotel_list,left_index=True,right_on='property_name',how='left',)
table1

,December,January,February,March,April,May,June,July,Aug,property_name,Star rating
0,35.00,35.00,29.41,35.78,43.00,36.01,64.80,45.53,37.635067,ABSERON HOTEL,unknown
1,0.00,100.00,100.00,100.00,138.67,140.00,140.00,182.90,180.000000,Absheron Marina,unknown
2,38.71,28.46,27.00,36.44,18.23,28.58,30.43,18.45,15.250758,Abu Arena Hotel,4-star hotel
3,74.32,61.32,60.00,68.87,65.83,63.41,60.00,75.00,75.000000,Admiral Hotel,4-star hotel
4,65.39,66.50,65.39,50.68,41.67,55.00,44.45,44.68,36.000000,AEF Hotel,4-star hotel
...,...,...,...,...,...,...,...,...,...,...,...
469,65.33,105.56,100.00,102.66,123.38,81.67,98.66,99.00,99.000000,Yurd Hotel,4-star hotel
470,70.48,99.65,83.74,80.00,65.00,93.00,302.86,70.00,57.861953,ZamZam Hotel,4-star hotel
471,30.00,30.89,30.17,31.61,31.33,35.00,35.00,35.00,30.690000,Zaqatala Hotel,2-star hotel
472,50.00,50.00,50.00,60.83,130.00,108.87,195.90,50.00,41.329966,Zaqatala olimpiya idman kompleksi,3-star hotel
473,152.67,149.00,148.28,127.58,153.33,128.41,231.06,162.33,134.181869,Zirve Hotel,4-star hotel

In [105]:
star_index=table1.groupby(by='Star rating').mean().round(decimals=2)
star_index

,December,January,February,March,April,May,June,July,Aug
Star rating,,,,,,,,,
2-star hotel,42.59,37.58,36.82,44.79,50.45,45.58,65.54,50.94,46.43
3-star hotel,64.93,61.19,51.49,64.28,63.82,70.53,107.04,75.30,69.42
4-star hotel,87.71,84.39,72.99,87.05,85.89,88.76,160.03,106.63,92.74
5-star hotel,114.81,120.14,102.87,117.05,117.50,112.16,197.83,139.04,122.61
unknown,74.31,73.39,63.20,75.28,76.78,75.01,121.54,89.35,80.92

In [ ]:
	December	January	February	March	April	May	June	July	Aug
mean	mean	mean	mean	mean	mean	mean	mean	mean
Star rating									
2-star hotel	42.59	37.58	36.82	44.79	50.45	45.58	65.54	50.94	46.43
3-star hotel	64.93	61.19	51.49	64.28	63.82	79.43	155.08	96.15	82.27
4-star hotel	93.39	91.10	79.12	94.51	98.

In [143]:
star_index.loc['Overall Mean']=table1.mean()
star_index

,December,January,February,March,April,May,June,July,Aug,Avg
Star rating,,,,,,,,,,
2-star hotel,42.590000,37.580000,36.820000,44.790000,50.450000,45.580000,65.540000,50.940000,46.430000,NaN
3-star hotel,64.930000,61.190000,51.490000,64.280000,63.820000,70.530000,107.040000,75.300000,69.420000,NaN
4-star hotel,87.710000,84.390000,72.990000,87.050000,85.890000,88.760000,160.030000,106.630000,92.740000,NaN
5-star hotel,114.810000,120.140000,102.870000,117.050000,117.500000,112.160000,197.830000,139.040000,122.610000,NaN
unknown,74.310000,73.390000,63.200000,75.280000,76.780000,75.010000,121.540000,89.350000,80.920000,NaN
Avg,82.988889,81.589339,69.772196,82.961879,83.435981,84.398458,146.317262,100.971268,89.184279,NaN
Overall Mean,88.624242,89.728301,76.755087,90.942522,89.843956,91.065298,162.002325,114.236245,99.020936,NaN

In [121]:
table.mean()

December     79.480556
January      76.747626
February     66.228851
March        79.366029
April        79.302868
May          81.241796
June        133.540123
July         95.529485
Aug          83.886947
dtype: float64

In [113]:
table1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 474 entries, 0 to 473
Data columns (total 11 columns):
December         432 non-null float64
January          439 non-null float64
February         428 non-null float64
March            431 non-null float64
April            428 non-null float64
May              428 non-null float64
June             431 non-null float64
July             426 non-null float64
Aug              428 non-null float64
property_name    474 non-null object
Star rating      474 non-null object
dtypes: float64(9), object(2)
memory usage: 40.7+ KB

In [142]:
table1.mean()

December     88.624242
January      89.728301
February     76.755087
March        90.942522
April        89.843956
May          91.065298
June        162.002325
July        114.236245
Aug          99.020936
dtype: float64

In [145]:
star_index.loc['2 star_indexed']=star_index.loc['2-star hotel']/star_index.loc['2-star hotel','December']*100
star_index.loc['3 star_indexed']=star_index.loc['3-star hotel']/star_index.loc['3-star hotel','December']*100
star_index.loc['4 star_indexed']=star_index.loc['4-star hotel']/star_index.loc['4-star hotel','December']*100
star_index.loc['5 star_indexed']=star_index.loc['5-star hotel']/star_index.loc['5-star hotel','December']*100

In [154]:
star_index.loc['Overall indexed']=star_index.loc['Overall Mean']/star_index.loc['Overall Mean','December']*100

In [150]:
star_index=star_index.drop(index=['Avg','unknown'],columns='Avg').round(decimals=2)

In [156]:
star_index.to_excel('Booking.com Monthly comparisons-result v2.xls')

In [155]:
star_index

,December,January,February,March,April,May,June,July,Aug
Star rating,,,,,,,,,
2-star hotel,42.59,37.580000,36.820000,44.790000,50.450000,45.580000,65.540000,50.940000,46.4300
3-star hotel,64.93,61.190000,51.490000,64.280000,63.820000,70.530000,107.040000,75.300000,69.4200
4-star hotel,87.71,84.390000,72.990000,87.050000,85.890000,88.760000,160.030000,106.630000,92.7400
5-star hotel,114.81,120.140000,102.870000,117.050000,117.500000,112.160000,197.830000,139.040000,122.6100
Overall Mean,88.62,89.730000,76.760000,90.940000,89.840000,91.070000,162.000000,114.240000,99.0200
2 star_indexed,100.00,88.240000,86.450000,105.170000,118.460000,107.020000,153.890000,119.610000,109.0200
3 star_indexed,100.00,94.240000,79.300000,99.000000,98.290000,108.620000,164.850000,115.970000,106.9200
4 star_indexed,100.00,96.210000,83.220000,99.250000,97.920000,101.200000,182.450000,121.570000,105.7300
5 star_indexed,100.00,104.640000,89.600000,101.950000,102.340000,97.690000,172.310000,121.100000,106.7900
Overall indexed,100.00,101.252539,86.617016,102.617919,101.376664,102.764613,182.802979,128.909953,111.7355

In [1]:
star_index

NameError: name 'star_index' is not defined